
{% extends "layout.html" %}

{% block pageTitle %}
  Access to Work prototypes: renewals
{% endblock %}

{% block header %}

  <div class="prototype-remove-blue-border-from-header">

    {{ super() }}

    <div class="prototype-home-top">

      <div class="govuk-width-container">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Access to Work: renewals</h1>

          </div>

        </div>

      </div>

    </div>

  </div>

{% endblock %}

{% block beforeContent %}

  {{ super() }}
  {{ govukBackLink({
    text: 'Back to prototype home',
    href: '/'
  }) }}
{% endblock %}

{% block content %}

 <h2 class="govuk-heading-l">Renewals OGD prototypes for UR</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">


     <h2 class="govuk-heading-m">
        <a href="/renewals/HTO-2902/email/index.html" class="govuk-link--no-visited-state">
          HTO-2902: UR prototype for OGD changes added to live service on 21 February<br><strong class="govuk-tag govuk-tag--red">
         Experimental
        </strong>
        </a>
      </h2>
      <p>UR version for civil service filtering question added. </p>
      
      
      <p>Affecting grant end dates on or after 1 April 2022.</p> 
   
   
   
   
    <h2 class="govuk-heading-m">
        <a href="/renewals/HTO-2484/sms/index.html" class="govuk-link--no-visited-state">
          HTO-2484: OGD change added <nobr>21 February</nobr> (dev ready prototype)<br><strong class="govuk-tag govuk-tag--green">
        Live
      </strong>
        </a>
      </h2>

     <p>Civil service filtering question added. </p>
      
      <p>Affecting grant end dates on or after 1 April 2022.</p>
      

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    </div>
  </div>

{% endblock %}
