
{% extends "layout.html" %} {% set serviceName = "Apply for Access to Work" %}

{% block pageTitle %}
  Access to Work prototypes: renewals
{% endblock %}

{% block header %}

  <div class="prototype-remove-blue-border-from-header">

    {{ super() }}

    <div class="prototype-home-top">

      <div class="govuk-width-container">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Access to Work</h1>
            <h1 class="govuk-heading-l govuk-!-font-weight-regular  govuk-!-margin-bottom-2">Apply prototypes</h1>

          </div>

        </div>

      </div>

    </div>

  </div>

{% endblock %}

{% block beforeContent %}

  {{ super() }}
  {{ govukBackLink({
    text: 'Back to prototype home',
    href: '/'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Navigation page for internal team use only. Not for development or usability sessions.
  </strong>
</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

     <h2 class="govuk-heading-m">
        <a href="/apply/HTO-3197/service/apply-cs-filtering1.html" class="govuk-link--no-visited-state">
          HTO-3197: in-journey support content<br><strong class="govuk-tag govuk-tag--blue">
         Dev ready
        </strong>
        </a>
      </h2>
      <p>Access to Work helpline details in column for live service. </p>
  </h2>

   <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> 

  <h2 class="govuk-heading-m">
        <a href="/apply/HTO-2826/index.html" class="govuk-link--no-visited-state">
          HTO-2826: Priority case question change <br><strong class="govuk-tag govuk-tag--yellow">
         Draft
        </strong>
        </a>
      </h2>
      <p>Access to Work Plus question added – replacing CEV, Kickstart and YPGS question.</p>
  </h2>
      
      

   <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

 <h2 class="govuk-heading-m">
        <a href="/apply/HTO-2717/index.html" class="govuk-link--no-visited-state">
          HTO-2717: GA cookie consent design and content<br><strong class="govuk-tag govuk-tag--blue">
         Dev ready
        </strong>
        </a>
      </h2>
      <p>Cookie consent for live apply service. </p>
  </h2>
      
      

   <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
 
 
 <h2 class="govuk-heading-m">
        <a href="/apply/HTO-3065/index.html" class="govuk-link--no-visited-state">
          HTO-3065: UR prototype for OGD iterations<br><strong class="govuk-tag govuk-tag--red">
         Experimental
        </strong>
        </a>
      </h2>
      <p>UR version with iterations to hint text on some screens. </p>
      
      

   <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

 <h2 class="govuk-heading-m">
        <a href="/apply/HTO-2360-dev-ready/index.html" class="govuk-link--no-visited-state">
          HTO-2360: dev ready prototype for OGD changes<br><strong class="govuk-tag govuk-tag--green">
          Live
        </strong>
        </a>
      </h2>
      <p>Dev ready version for civil service filtering question added. </p>
      
      
      <p>Affecting Application from 1 April 2022.</p> 
   
   <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

     <h2 class="govuk-heading-m">
        <a href="/apply/HTO-2360/index.html" class="govuk-link--no-visited-state">
          HTO-2360: UR prototype for OGD changes<br><strong class="govuk-tag govuk-tag--red">
         Experimental
        </strong>
        </a>
      </h2>
      <p>UR version for civil service filtering question added. </p>
      
      
      <p>Affecting Application from 1 April 2022.</p> 
   
   <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
   





    </div>
  </div>

{% endblock %}
