{% extends "layout.html" %}

{% block pageTitle %}
Access to Work renewals for civil service employment
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://getinvolved.dwp.gov.uk/digital/cdc1a144">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% if not hideback %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.go(-1)"
}) }}
{% endif %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Access to Work renewals for civil service employment</h1>



      <h2 class="govuk-heading-m">If your grant ends on or after 1 April 2022</h2>

      <p>Your employer will provide support instead of Access to Work, so you will not be able to renew your grant.</p>


      <div class="govuk-inset-text">
        You must contact your employer so they can assess and arrange the support you need.
      </div>


     <!--
     <h3 class="govuk-heading-s">Self-employment or other employment</h2>


      <p>If your grant includes self-employment, or other non-civil service employment, you can <a href="https://design-system.service.gov.uk">renew part of your Access to Work grant</a>. </p>

      <p>You will still need to contact your civil service employer to arrange any support you need for that employment.</p>

      -->

      <h2 class="govuk-heading-m">If your grant ends before 1 April 2022</h2>

      <p>You can still <a href="clinically-extremely-vulnerable">renew your Access to Work grant</a>, as long as your grant end date is before 1 April 2022.</p>

      <p>You can find your grant end date on your award letter or renewal reminder.</p>

    </div>
  </div>

{% endblock %}
