{% set resetServiceName = true %}

{% extends "layout.html" %}

{% block pageTitle %}
  Access to Work
{% endblock %}

{% block header %}

  <div class="prototype-remove-blue-border-from-header">

    {{ super() }}

    <div class="prototype-home-top">

      <div class="govuk-width-container">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Access to Work</h1>

            <h1 class="govuk-heading-l govuk-!-font-weight-regular  govuk-!-margin-bottom-2">Team Orange prototypes</h1>

          </div>

        </div>

      </div>

    </div>

  </div>

{% endblock %}

{% block content %}
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    This page is for navigation to the prototype. For interal team use only and not for devlopment or usability sessions.
  </strong>
</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      <h2 class="govuk-heading-m">
        <a href="prototype-nav/award-letter.html" class="govuk-link--no-visited-state">
          Awared letter
        </a>
        <h2 class="govuk-heading-m">
      <a href="renewals/index.html" class="govuk-link--no-visited-state">
          Renewals service
        </a>



    </div>
  </div>

{% endblock %}
